.input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    width: 165px;
}

.button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0;
  background-color: rgba(40, 116, 166);
  color: white;
  border: 2px solid white;
}

.button:hover {
  background-color: green;
  border: 2px solid white;
  cursor: pointer;
}

.list li {
  text-align: left;
  background-color: rgba(202, 207, 210, 0.5);
  color: rgba(231, 76, 60);
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  padding-left: 0;
  width: 25vw;
  overflow-wrap: break-word;
}

.list {
  padding-left: 0;
}

.list li:hover {
  background-color: rgba(88, 214, 141, 0.5);
  cursor: pointer;
}
